* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #379c15;
	font: 14px/18px Arial, Helvetica, sans-serif;
}

#main_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}

#main_header {
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: none repeat scroll 0% 0% #F2F0F0;
	padding-top: 15px;
	padding-bottom: 20px;
	border-bottom: 1px solid #DDDBDB;
	box-shadow: 0px 1px 5px #CCC;
}

#main_header>a {
	margin-left: -10%;
}

#main_header>img {
	max-width: 100%;
	height: auto;
}

#top_navigation {
	align-self: flex-end;
}

#top_navigation ul {
	display: flex;
	list-style-type: none;
}

#top_navigation li>a {
	font-size: 18px;    /* old */
  	font-size: 1.5vm;   /* IE9 */
  	font-size: 1.5vmin;
	font-family: 'Noto Sans', sans-serif;
	color: #85423F;
	text-transform: uppercase;
	line-height: 20px;
	border-radius: 5px;
	position: relative;
	display: block;
	padding: 5px 14px 2px;
}

#top_navigation a:hover,#top_navigation a.current {
	color: #fff;
	background: #e2827e;
}

.badge {
	background-color: whitesmoke;
    border: 2px solid #379c15;
    border-radius: 17px;
    cursor: default;
    font-size: 15px;
    height: 17px;
    left: -15px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    top: -9px;
    vertical-align: middle;
    width: 30px;
}

#main_article {
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	flex-direction: col;
	align-items: flex-start;
	justify-content: center;
}

#left {
	order: 1;
	max-width: 640px;
}

#right {
	order: 2;
	max-width: 640px;
	margin-left: 20px;
}

#left>ul {
	margin-left: 30px;
}

#right>ul {
	margin-left: 30px;
}

hr {
	height: 30px;
	background: url(../images/hor_separator.png) no-repeat center;
	border: none;
	margin-top: 10px;
}

#main_footer {
	background-color: #379c15;
	color: white;
	font: 10px bold Tahoma;
}

nav li {
	
}

a {
	text-decoration: none;
	color: inherit;
	outline: medium none;
	transition: all 0.5s ease 0s;
}
/*From http://css3.bradshawenterprises.com/cfimg/*/
#crossFade {
	position: relative;
	margin: 4px auto 0;
}

#crossFade img {
	position: absolute;
	left: 0;
	top: 0;
	height: auto;
	max-width: 100%;
	width: auto\9 /* ie8 */ 
  	 -webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	-webkit-animation-name: crossFadeFadeInOut;
	animation-name: crossFadeFadeInOut;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 24s;
	animation-duration: 24s;
}

#crossFade img#holder {
	position: relative;
	height: auto;
	max-width: 100%;
	width: auto\9 /* ie8 */
}

@-webkit-keyframes crossFadeFadeInOut { 
	0%   {opacity: 1;}
	17%  {opacity:1;}
	25%  {opacity:0;}
	92%  {opacity:0;}
	100% {opacity:1;}
}

@keyframes crossFadeFadeInOut { 
	0%   {opacity: 1;}
	17%  {opacity:1;}
	25%  {opacity:0;}
	92%  {opacity:0;}
	100% {opacity:1;}
}

#crossFade img:nth-of-type(1) {
	-webkit-animation-delay: 18s;
	animation-delay: 18s;
}

#crossFade img:nth-of-type(2) {
	-webkit-animation-delay: 12s;
	animation-delay: 12s;
}

#crossFade img:nth-of-type(3) {
	-webkit-animation-delay: 6s;
	animation-delay: 6s;
}

#crossFade img:nth-of-type(4) {
	-webkit-animation-delay: 0;
	animation-delay: 0s;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	color: #5D0400;
	font-family: Times New Roman;
}

h2 {
	font-size: 24px;
	line-height: 30px;
	padding-top: 10px;
	margin-bottom: 17px;
}

aside #specials {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

@media all and (max-width: 1000px) {
	#main_article {
		margin-left: 20px;
		margin-right: 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	#right {
		margin-left: 0px;
	}
	.address {
		margin-left: 30px;
		padding-top: 20px;
	}
	.item_holder {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	aside #specials {
		display: flex;
		flex-direction: column;
	}
}

fieldset.borderFieldset{
	box-shadow: 2px 2px 3px 3px lightgrey;
	padding: 10px;
	margin:20px;
}
fieldset {
	border:none;
}

input[type="button"] {
	font-size: 18px;
	font-family: 'Noto Sans', sans-serif;
	color: #fff;
	background: #e2827e;
	text-transform: uppercase;
	border-radius: 10px;
	position: relative;
	padding-left: 14px;
	padding-right: 14px;
	cursor: pointer;
	transition: all 0.5s ease 0s;
}

input[id="button_send"] {
	margin-left: 20px;
}

input[type="button"]:hover {
	color: #fff;
	background: #339933;
}

form textarea#message {
	font-size: 16px;
	color: #5E5E5E;
	height: 273px;
	overflow: auto;
	border: 1px solid #E6E4E4;
	padding: 5px 14px;
	box-shadow: 0px 4px 3px #DEDEDE;
	line-height: 20px;
	width: 100%;
	resize: none;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}

.buttons {
	display: flex;
}

form input[type="text"], form input[type="tel"], form input[type="email"], form input[type="password"]{
	font-size: 16px;
	color: #5E5E5E;
	overflow: auto;
	border: 1px solid #E6E4E4;
	padding: 5px 14px;
	box-shadow: 0px 4px 3px #DEDEDE;
	line-height: 20px;
	max-width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	transition: all 0.5s ease 0s;
}

.address {
	margin-left: 20px;
	font-size: 16px;
	color: #5E5E5E;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	max-width:500px;
}
}

details,summary {
	display: block;
}

details.details_shim_closed>* {
	display: none;
}

details.details_shim_closed>summary {
	display: flex;
}

details.details_shim_open>summary {
	display: flex;
	color: #fff;
	background: #e2827e;
}

details.details_shim_closed>summary:before {
	display: inline-block;
	content: "\25b6";
	padding: 0 0.1em;
	margin-right: 0.4em;
	font-size: 0.9em;
}

details.details_shim_open>summary:before {
	display: inline-block;
	content: "\25bc";
	padding: 0;
	margin-right: 0.35em;
}

details:not(#details_child) {
	border: 2px solid #E6E4E4;
	border-radius: 5px;
	box-shadow: 0px 4px 3px #DEDEDE;
	padding: 5px 14px 14px;
}


details[data-open="closed"]{
	padding-bottom:5px;
}

details[data-open="open"]>details>summary{
	padding-left:1.2em
}

summary {
	font-size: 18px;
	font-family: 'Noto Sans', sans-serif;
	color: #85423F;
	text-transform: uppercase;
	line-height: 20px;
	border-radius: 5px;
	padding: 5px 14px 2px;
	transition: all 0.5s ease 0s;
	cursor: pointer;
	min-width:500px;
}

summary::-webkit-details-marker {
	display: none
}

summary>p {
	position: relative;
	padding-left: 5px;
}

summary:hover {
	color: #fff;
	background: #e2827e;
}

#summary_child:hover {
	background: #F2F0F0;
}

#summary_child:hover #item_name {
	color: #379c15;
	transition: all 1s ease 0s;
}

#summary_child:hover #item_description_short {
	color: darkgray;
}

p#item_description_short {
	text-transform: none;
	color: gray;
	font-size: small;
}

.item_holder {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: auto;
}

.item_holder_left {
	order: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flax-start;
	max-width: 640px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-top: 5px;
}

.item_holder_left img:first-child {
	border: 5px solid white;
	box-shadow: 2px 2px 4px #DDD;
	max-width: 100%;
}

.item_holder_right {
	order: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flax-start;
	max-width: 640px;
	border: 2px solid #E6E4E4;
	border-radius: 5px;
	box-shadow: 0px 4px 3px #DEDEDE;
	padding: 10px;
	margin-top: 5px;
}

.item_holder_right h2:first-child {
	padding-top: 0px;
}

.item_holder_right h2 {
	margin-bottom: 5px;
}

.nutrition_wrapper {
	display: flex;
}

.nutrition_item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1px 2px;
}

#nutrition_name {
	background: none repeat scroll 0% 0% #7B648E;
	padding: 1px 0px;
	border-radius: 15px 15px 0px 0px;
	font-size: 0.625rem;
	color: #FFF;
	width: 50px;
	text-align: center;
}

#nutrition_value {
	border: 1px solid gray;
	border-radius: 0px 0px 12px 12px;
	width: 48px;
	text-align: center;
	box-shadow: 0px 4px 3px #DEDEDE;
	height:25px;
}

.item_prices{
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	margin-top:20px;
}
.item_prices [id^="add"], .item_prices [id^="remove"]{
	width: 40px;
height: 40px;
border-radius: 20px;
border: 2px solid #F5F5F5;
box-shadow: 2px 3px 3px 2px gray;
font-weight:bold;
margin:0px 3px;
transition: all 0.2s ease 0s;
}

#add_to_plate, #btnClear, #btnOrder{
	height:40px;
	border-radius: 20px 5px;
	border: 2px solid #F5F5F5;
	box-shadow: 2px 3px 3px 2px gray;
	font-weight:bold;
	transition: all 0.2s ease 0s;
}

#add_to_plate:hover, .item_prices [id^="add"]:hover, .item_prices [id^="remove"]:hover{
	color: #fff;
	background: #c2827e;
	box-shadow:1px 1px 1px 2px #808080;
}

.priceSize1TextBox, .priceSize2TextBox, .priceSize3TextBox {
	width:20px;
	text-align:center;
	background-color: whitesmoke;
	font-size: medium;
	font-family: Calibri;
}
.itemPrice{
	display: inline-block;
	background: none repeat scroll 0% 0% #699440;
	color: #FFF;
	min-width: 45px;
	height: 38px;
	border-radius: 4px;
	font: 18px/38px "Lobster";
	text-align: center;
	margin-right: 10px;
	max-width: 100px;
	adding-left: 3px;
	padding-right: 3px;
}
.h3 {
	font-weight: normal;
	color: #5D0400;
	font-family: Times New Roman;
	font-size: 20px;
	padding-top: 10px;
	margin-bottom: 17px;
	min-width: 100px;
	height:20px;
}
.left{
	display:flex;
	justify-content:flex-start;
	align-items:baseline;
	width:100%;
	flex-direction:column;
}
.right{
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-end;
	align-items:baseline;
	width:360px;
}

.flex-column {
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	margin-top:20px;
	margin-bottom:20px;
}

.column {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:flex-start;
}
.row {
	display:flex;
	flex-riderction:row;
	align-items:flex-start;
	justify-content: center;
}

input[type="submit"]{
cursor:pointer;
padding:5px 25px;
background:#379c15;
border:1px solid #33842a;
border-radius: 10px;
box-shadow: 0 0 4px rgba(0,0,0, .75);
color:#f3f3f3;
font-size:1.1em;
transition: all 0.5s ease 0s;
}

form textarea{
	font-size: 16px;
	color: #5E5E5E;
	overflow: auto;
	border: 1px solid #E6E4E4;
	padding: 5px 14px;
	box-shadow: 0px 4px 3px #DEDEDE;
	line-height: 20px;
	resize: none;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
	transition: all 0.5s ease 0s;
	moz-transition: all 0.5s ease 0s;
}

input[type="submit"]:hover, input[type="submit"]:focus{
background-color :#286621;
box-shadow: 0 0 1px rgba(0,0,0, .75);
}
#newUserForm:hover input:not(#btnRegister), #newUserForm:hover textarea{
	min-width:300px;
}
#existingUserForm:hover input:not(#btnLogin){
	min-width:300px;
}
#username{
	display: none;
    margin-left: 30px;
}
#welcome{
	display: flex;
    align-items: center;
    font: 13px plain Arial;
}
#lostPasswordID{
	font-family: 'Noto Sans', sans-serif;
	color: #85423F;
}
#lostPasswordID:hover {
	font-style:italic;
}
.error{
	font-family: 'Noto Sans', sans-serif;
	color: red;
	font-size:13px;
	display:none;
}

#circularG{
	
position:relative;
width:128px;
height:128px;
}

.circularG{
	
position:absolute;
width:29px;
height:29px;
-moz-border-radius:19px;
-moz-animation-name:bounce_circularG;
-moz-animation-duration:1.12s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:19px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:1.12s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:19px;
-ms-animation-name:bounce_circularG;
-ms-animation-duration:1.12s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:19px;
-o-animation-name:bounce_circularG;
-o-animation-duration:1.12s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:19px;
animation-name:bounce_circularG;
animation-duration:1.12s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circularG_1{
	
	box-shadow: #82E8FA 0px 0px 3px 3px;
left:0;
top:50px;
-moz-animation-delay:0.42s;
-webkit-animation-delay:0.42s;
-ms-animation-delay:0.42s;
-o-animation-delay:0.42s;
animation-delay:0.42s;
}

#circularG_2{
	
	box-shadow: #82E8FA 0px 0px 3px 3px;
left:14px;
top:14px;
-moz-animation-delay:0.56s;
-webkit-animation-delay:0.56s;
-ms-animation-delay:0.56s;
-o-animation-delay:0.56s;
animation-delay:0.56s;
}

#circularG_3{
	
	box-shadow: #82E8FA 0px 0px 3px 3px;
top:0;
left:50px;
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
-ms-animation-delay:0.7s;
-o-animation-delay:0.7s;
animation-delay:0.7s;
}

#circularG_4{
	
	box-shadow: #82E8FA 0px 0px 3px 3px;
right:14px;
top:14px;
-moz-animation-delay:0.84s;
-webkit-animation-delay:0.84s;
-ms-animation-delay:0.84s;
-o-animation-delay:0.84s;
animation-delay:0.84s;
}

#circularG_5{
	
	box-shadow: #82E8FA 0px 0px 3px 3px;
right:0;
top:50px;
-moz-animation-delay:0.98s;
-webkit-animation-delay:0.98s;
-ms-animation-delay:0.98s;
-o-animation-delay:0.98s;
animation-delay:0.98s;
}

#circularG_6{
	
	box-shadow: #82E8FA 0px 0px 3px 3px;
right:14px;
bottom:14px;
-moz-animation-delay:1.12s;
-webkit-animation-delay:1.12s;
-ms-animation-delay:1.12s;
-o-animation-delay:1.12s;
animation-delay:1.12s;
}

#circularG_7{
	
	box-shadow: #82E8FA 0px 0px 3px 3px;
left:50px;
bottom:0;
-moz-animation-delay:1.26s;
-webkit-animation-delay:1.26s;
-ms-animation-delay:1.26s;
-o-animation-delay:1.26s;
animation-delay:1.26s;
}

#circularG_8{
	
	box-shadow: #82E8FA 0px 0px 3px 3px;
left:14px;
bottom:14px;
-moz-animation-delay:1.4s;
-webkit-animation-delay:1.4s;
-ms-animation-delay:1.4s;
-o-animation-delay:1.4s;
animation-delay:1.4s;
}

@-moz-keyframes bounce_circularG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circularG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}

.background_opacity{
	
	background: rgba(0,5,16,0.7);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	display:none;
}
.sendingEmail{
	
	position: fixed;
width: 260px;
height: 40px;
top: 50%;
left: 50%;
margin-left: -120px;
margin-top: -120px;}

.sendingEmail h2{
	
	color: white;
font-size: 40px;
font-variant: small-caps;
}

#special1Name, #special2Name, #special3Name, #special4Name {
	font-size: 25px;
	font-variant: small-caps; 
	max-width: 250px;
	min-height: 70px;
	margin: 0px 10px;
}

#imgSpecial1,#imgSpecial2,#imgSpecial3,#imgSpecial4 {
	max-width: 250px; 
	border-radius: 20px; 
	border: 5px solid wheat; 
	box-shadow: 5px 5px 5px lightgrey;
	margin: 0px 5px;
}

#logoutImage {
	max-width: 20px;
	max-height: 20px;
	bottom: -2px;
	position: relative;
	border-radius: 5px;
	box-shadow: 1px 1px 6px gray;
	padding: 2px;
}

#logoutImage:hover {
	cursor:pointer;
	box-shadow: 0px 0px 2px gray;
}

#user {
	padding: padding: 5px 4px;;
}

#popup_background {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(5,5,5,0.8);
}

#popup_box {
	width: 400px;
	position: relative;
	margin: 10% auto;
	background: whitesmoke;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#popup_title{
	background: rgb(35, 134, 47);
	border-bottom: solid orange 2px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height:40px;
}
#popup_title >p{
	color: white;
	font-size: 1.5em;
	font-variant: small-caps;
	font-weight: bold;
	padding: 10px 20px;
}

#popup_message{
	padding: 0px 20px;
}

#popup_message > p{
	margin-top: 10px;
margin-bottom: 20px;
font-size: 1.2em;
font-family: inherit;
text-align: center;
}

#popup_buttons{
text-align: center;
padding: 10px;
border-bottom: rgb(35, 134, 47) solid 30px;
}

#popup_buttonAffirmative{

}

#popup_buttonNegative{

}

table th{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align:left;
}

table td{
	border-bottom: 1px solid rgb(174, 218, 174);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 20px;
	padding-bottom: 5px;
	text-align:left
}


table tr:hover{
	border-bottom:5px solid green;
	transition: all 0.5s ease 0s;
	background-color:aliceblue;
}

table tr:first-child:hover{
	border-bottom:3px solid orange;
	transition: all 0.5s ease 0s;
	background-color:rgb(169, 218, 66);
}

table {
	box-shadow: 2px 2px 3px 3px lightgrey;
	padding: 10px;
	margin:20px;
	border-collapse: collapse;
}

table tr:first-child > td, tr:first-child > th{
	border-bottom:1px solid green;
}

table tr > td:first-child, tr > th:first-child{
	padding-left:20px;
}

table tr > td:last-child, tr > th:last-child {
	padding-right:20px;
}

#popupItemAdded {
	width: 400px;
	position: fixed;
	top: 40%;
	left: 40%;
	background-color: rgb(249, 252, 255);
	border-top: 3px solid green;
	border-bottom: 3px solid green;
	text-align: center;
}

#slideBox{
	width:70px;
	height:20px;
	background-color:red;
	z-index:-5;
	position:absolute;
}
#cover{
	width:70px;
	height:20px;
	background-color:yellow;
	z-index:-4;
	position:absolute;
}
